@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p,img,i,form,ul,li{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: Arial, 'Microsoft YaHei', 'Hiragino Sans GB', md-hsgb, 'WenQuanYi Micro Hei', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
