@charset "utf-8";
html {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  font: rem(14) arial;
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  color: nth($font-color, 9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fs($font-middle);
}

::-webkit-input-placeholder {
  color: #cacaca;
  position: relative;
}

:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: nth($font-color, 1);
    text-decoration: none;
  }
}

div,
a,
img {
  -webkit-tap-highlight-color: transparent; // 禁止拖动复制
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // user-select: none;
  display: block;
  margin: 0;
}

input,
select,
textarea,
button,
.input-block {
  outline: 0;
  resize: none;
  overflow: hidden;
  font-family: 'Microsoft YaHei';
}

select {
  border: 0;
  width: rem(40);
}

input,
select,
textarea {
  @include fs($font-middle);
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder {
    color: #b5b5b5;
  }
  @include fs($font-middle);
}

.f12 {
  font-size: rem(12);
}

.f13 {
  font-size: rem(13);
}

.f14 {
  font-size: rem(14);
}

.f16 {
  font-size: rem(16);
}

.f18 {
  font-size: rem(18);
}

.f20 {
  font-size: rem(20);
}

.avatar {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  max-width: none !important;
  &.large {
    width: rem(60);
    height: rem(60);
    margin: rem(5) 0;
  }
  &.big {
    width: rem(50);
    height: rem(50);
    margin: rem(5) 0;
  }
  &.small {
    width: rem(35);
    height: rem(35);
  }
  &.smaller {
    width: rem(30);
    height: rem(30);
  }
}
.chinaMobile-avatar {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  border: 2px solid #fff;
  max-width: none !important;
  &.large {
    width: rem(60);
    height: rem(60);
  }
  &.big {
    width: rem(50);
    height: rem(50);
  }
  &.small {
    width: rem(35);
    height: rem(35);
  }
  &.smaller {
    width: rem(30);
    height: rem(30);
  }
}

.placeholder {
  color: nth($font-color, 7);
}

.is-click {
  cursor: pointer;
}

.category-title {
  @include fs($font-small);
  min-height: rem(10);
  line-height: rem(25);
  color: nth($font-color, 6);
  background: nth($background, 1);
  @include backgroudGrey;
  padding: rem(0) nth($padding, 5);
  overflow: hidden;
  &.click {
    cursor: pointer;
  }
  &.center {
    text-align: center;
  }
  .right {
    float: right;
    // display: inline-block;
    padding-left: nth($padding, 3);
    cursor: pointer;
    @include fc;
  }
  .error {
    color: nth($font-color, 5);
  }
  &.flex-block {
    margin: rem(-1) rem(-10) rem(0);
  }
}

// 可以点击
.has-click {
  cursor: pointer;
}

.text-color,
.href-text {
  @include fc;
  cursor: pointer;
  &:hover,
  &:link,
  &:active,
  &:visited {
    @include fch;
  }
  &.card-click {
    cursor: pointer;
    width: 95%;
  }

  &.error {
    color: nth($font-color, 5);
  }
}

.and,
.topic {
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
}

.pd {
  padding: rem(0) nth($padding, 3);
  &.right {
    padding: rem(0) nth($padding, 3) rem(0) rem(0);
  }
  &.left {
    padding: rem(0) rem(0) rem(0) nth($padding, 3);
  }
}

.overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  @include opacity(1);
  background-color: rgba(0, 0, 0, 0.2);
}

// 表情
.emotion {
  width: rem(20);
  height: rem(20);
  vertical-align: middle;
  display: inline-block;
}

.textarea-content {
  width: 100%;
  max-width: 100%;
  font-size: rem(14);
  line-height: rem(18);
  padding: rem(6) 0 rem(6) rem(8);
  resize: none;
  transition: height ease 0.5s;
  display: block;
  border: none;
  overflow: hidden;
}

.block-element {
  display: block !important;
}

.drop-menu {
  .menu-item {
    text-align: center;
    &:hover {
      background: #ecfffa !important;
      color: rgba(0, 193, 98, 1) !important;
      [data-theme='blue'] & {
        color: rgba(105, 141, 227, 1) !important;
      }
    }
  }
}

.vx-model-tips {
  @include ct;
  @include fd;
  padding: rem(50) rem(0);
  span {
    text-align: center;
    line-height: rem(30);
    color: nth($font-color, 7);
  }
}
.ql-editor.ql-blank::before {
  left: 20px !important;
  font-size: rem(13) !important;
  font-style: normal !important;
}

.vx-more {
  line-height: rem(30);
  text-align: center;
  font-size: rem(12);
}
.tableWrapper {
  .vx-table {
    table {
      background: #fff;
      th,
      td {
        text-align: left;
      }
    }
  }
  .input_from {
    border: none;
    outline: none;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: inherit;
    text-align: left;
  }
}
