.card-list {
  // background: #ededed;
  @include backgroudGrey;
  .vx-item {
    margin-bottom: nth($padding, 3);
  }
}

.vx-card {
  line-height: rem(20);
  min-height: rem(80);
  background: nth($background, 6);
  margin-bottom: nth($padding, 3);
  .com-cell {
    vertical-align: top;
    border: 0 !important;
    padding: rem(0) !important;
  }
  .vx-card-logo {
    width: rem(40);
    cursor: pointer;
    // padding: nth($padding, 2) nth($padding, 3) !important;
    padding: nth($padding, 5) nth($padding, 3) nth($padding, 5) nth($padding, 5) !important;
  }
  .vx-card-main {
    text-align: left;
    position: relative;
    padding: rem(0) nth($padding, 5) nth($padding, 3) rem(0) !important;
    .text-label {
      color: nth($font-color, 7);
      // padding-left: nth($padding, 1);
    }
    .card-header {
      margin-top: nth($padding, 5);
      overflow: hidden;
      div {
        float: left;
      }
      .drop-down {
        float: right;
        margin-top: rem(0);
        margin-right: rem(0);
        cursor: pointer;
      }
    }
    .card-content {
      text-align: justify;
      label {
        transition: all ease-out 0.3s; // -webkit-line-clamp: inherit;
        &.close {
          @include lh(7);
        }
        span {
          word-break: break-word;
        }
      }
    }
    .card-counter {
      margin-top: rem(0);
      overflow: hidden;
      .counter {
        height: rem(25);
        line-height: rem(27);
        &:first-child {
          float: left;
          font-size: rem(12);
          cursor: pointer;
        }
        &:last-child {
          float: right;
        }
        &.right .ico {
          margin-left: rem(10);
        }
      }
    }
    .card-reply-list {
      background: nth($background, 9);
      padding: rem(0) nth($padding, 2);
      .reply-item {
        word-wrap: break-word;
        word-break: break-all;
        &:first-child {
          padding-top: rem(4);
        }
        &:last-child {
          padding-bottom: rem(4);
        }
        &.praise-block {
          position: relative;
          div {
            margin-right: nth($padding, 1);
            display: inline-block;
          }
        }
      }
    }
    .card-click {
      width: 100%;
      margin-top: rem(5);
    }
    .card-reply {
      &-input {
        @include opacity(0);
        height: rem(0);
        border: $border;
        overflow: hidden;
        border-radius: 5px;
        transition: all ease-out 0.3s;
        margin: rem(3) 0 0;
        &.active {
          @include opacity(1);
          height: auto;
          margin-bottom: nth($padding, 1);
        }
      }
      &-tools {
        height: rem(30);
        background: nth($background, 9);
      }
    }
    .card-reply-button {
      float: right;
      border-radius: 0;
    }
  }
  &.has-click {
    &:hover {
      background: nth($background, 2);
    }
  }
  &:last-child {
    margin-bottom: rem(0);
  }
}

.file-list {
  padding-top: nth($padding, 1);
  .file-block {
    position: relative;
    display: block;
    overflow: hidden;
    background: nth($background, 9);
    margin-bottom: nth($padding, 1);
    &:hover {
      background: rgba(225, 225, 225, 0.3);
    }
    & > div {
      float: left;
    }
    .logo {
      img {
        display: block;
        width: rem(45);
        height: rem(45);
      }
    }
    .title {
      width: 70%;
      padding-left: nth($padding, 3);
      line-height: rem(18);
      & > div:first-child {
        margin-top: rem(4.5);
      }
    }
    .remark {
      float: right;
      font-size: rem(12);
      line-height: rem(45);
      padding-right: nth($padding, 3);
    }
  }
}
