.vx-item {
  padding: rem(0) rem(10);
  width: 100%;
  overflow: hidden; // border-bottom: $border;
  background: nth($background, 6);
  min-height: rem(45);
  position: relative;
  @include flex;
  @include jc(space-between);
  @include after {
    top: auto;
    // left: auto;
    right: rem(0);
    bottom: rem(0);
    // width: 100%;
    width: calc(100% - 40px);
    left: rem(20);
    height: rem(1);
    background: #f3f3f3;
  }
  &.no-border {
    &:after {
      height: rem(0);
    }
  }
  &.rank-item {
    &:after {
      width: 95%;
    }
  }
  input {
    text-align: left;
    padding-left: nth($padding, 3);
    border: none;
  }
  &-left {
    @include flex;
    @include jc(flex-start);
    @include ai;
    input {
      width: 100%;
    }
    & > div {
      text-align: left;
      padding-left: nth($padding, 3);
    }
  }
  &-right {
    color: nth($font-color, 7);
    @include flex;
    @include jc(flex-end);
    @include ai;
    text-align: right;
    max-width: 70%;
    input {
      min-width: rem(300);
      padding-right: nth($padding, 3);
      text-align: right !important;
    }
    & > div {
      text-align: right;
      padding-right: nth($padding, 3);
      input {
        padding: 0 !important;
        min-width: initial !important;
      }
    }
    .ico {
      margin-right: rem(8);
    }
    .error {
      color: nth($font-color, 5);
    }
  }
  &.full-input {
    .vx-item-left {
      width: 100%;
    }
  }
  &.search {
    padding: rem(16) rem(20);
    &::after {
      background: none !important;
    }
    .vx-item-left {
      width: 100%;
      background: rgba(245, 245, 245, 1);
      input {
        line-height: rem(32);
        background: rgba(245, 245, 245, 1);
      }
    }
    .vx-item-right {
      width: rem(0);
    }
  }
  &.is-click:hover {
    @include hoverBg // background: nth($background, 2);;;;;;;
  }
  &-list {
    min-height: rem(60) !important;
    .avatar {
      margin-left: nth($padding, 3);
    }
    .main,
    .remark,
    .describe {
      overflow: hidden;
      max-width: rem(300);
      white-space: nowrap;
      text-overflow: ellipsis;
      @include fs($font-small);
      color: nth($font-color, 7);
    }
    .title,
    .remark {
      line-height: rem(20);
    }
    .describe {
      max-width: rem(200);
    }
    .main {
      max-width: rem(500);
    }
  }
  &-avatar {
    margin: nth($padding, 1) rem(0);
  }
  .ellipsis {
    max-width: rem(500);
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &.s {
    width: 100%;
    display: table;
    min-height: rem(50) !important;
    .before,
    .logo,
    .main,
    .after {
      display: table-cell;
      vertical-align: middle;
      padding-left: nth($padding, 3);
    }
    .main {
      padding: rem(0) nth($padding, 3);
    }
    .before,
    .after {
      width: rem(30);
    }
    .logo {
      width: rem(50);
    }
    .info,
    .detail {
      @include flex;
      @include jc(space-between);
    }
    .remark,
    .describe,
    .content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include fs($font-small);
      color: nth($font-color, 7);
    }
  }
}
