<!DOCTYPE html>
<html data-theme=<%= htmlWebpackPlugin.options.theme %>>
  <head>
    <!-- <base href="/html5/" /> -->
    <meta charset="utf-8" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0,user-scalable=no" />
    <meta name="keywords" content="V校网页版,vxiao web,V校 pc,V校电脑版,vxiao web,V校 web,V校电脑" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1125266_qwbh9h6pyk.css" />
  </head>

  <body data-module=<%= htmlWebpackPlugin.options.filename %>>
    <div id="app"></div>
    <script>
      window.dataModule = document.getElementsByTagName('body')[0].getAttribute('data-module')
    </script>
  </body>
</html>
